@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">¡BIENVENIDO!</h1>
    <img src="/ax.jpg" alt="Your Image Description" class="img-fluid" />

    <p>Acerca de nosotros <a href="https://learn.microsoft.com/aspnet/core">www.AguaXport.com</a>.</p>
</div>
